body {
    background: url('../images/sneaker-wallpaper-hd.jpg');
}

.header {
    padding: 15px;
}

.jumbotron {
    background-color: #fff;
}

.trivia-box {
    background-color: #fff;
    border-radius: .3rem;
    margin-bottom: 2rem;
    height: auto;
    padding: 25px;
}

.countdown-box {
    background-color: #fff;
    border-radius: .3rem;
    margin-bottom: 2rem;
    height: auto;
    padding: 25px;
}

.correct-answer {
    color: green;
}

.incorrect-answer {
    color: red;
}